.wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
}
a {
  text-decoration: none;
}
body {
  background-color: #cccccc;
}

.main-nav {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
}
.main-nav__list {
  float: left;
}
.main-nav__item {
  float: left;
  list-style: none;
}

.main-nav__link {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #111111;
  line-height: 63px;
}

.login {
  float: right;
}
.login__form {
  float: left;
  padding-top: 15px;
}
.login__form input {
  float: left;
  width: 140px;
  height: 30px;
  padding: 0 10px;
  margin-right: 10px;
  border: none;
  background-color: #cccccc;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #111111;
  line-height: 30px;
}

.login__form button {
  float: left;
  width: 140px;
  height: 30px;
  margin-right: 10px;
  border: none;
  background-color: #f3f3f3;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #111111;
  cursor: pointer;
  transition: .3s;
}

.login__form button:hover {
  background-color: #ccc;
}
.signup-link {
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #ffffff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #111111;
  line-height: 63px;
}

/*section*/

.main-content {
  padding-top: 40px;
}
.main-content h2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
  color: #111111;
  line-height: 50px;
  text-align: center;
}


/*signup.php*/

.signup-form {
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

.signup-form input{
  width: 90%;
  height: 40px;
  padding: 0 5%;
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #111111;
  line-height: 40px;
}
.signup-form button {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 40px;
  border: none;
  background-color: #222;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

.signup-form button:hover {
  background-color: #111;
}